<style>

.image-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flip-box a {
  color: #646464;
}

  /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 330px;
  height: 200px;
  border: 1px solid #f1f1f1;
  margin-bottom: 40px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  color: black;
}

.flip-box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>


<div class="image-gallery">
  {% for post in paginator.posts %}
  {% if post.featured != true && post.image != "" %}
      <!-- overflow: hidden;
      text-overflow: ellipsis; -->

  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title | truncate: 35 }}
          <img class="flip-box-image" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.image_alt_text }}" >
        </a>
      </div>
    </div>
    <!-- <div class="flip-box-title">
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </div> -->
  </div>

      <!-- <a href="{{ post.url }}" title="{{ post.title }}">
        <img src="{{ post.image }}" alt="{{ post.image_alt_text }}" />
        <span>{{ post.image }}</span>
      </a> -->
  {% endif %}
{% endfor %}


</div>